# SPDX-License-Identifier: MIT
- hosts: letsencrypt
  become: yes
  remote_user: root
  tags: letsencrypt
  tasks:
    - import_role:
        name: roles/letsencrypt

- hosts: all
  become: yes
  remote_user: root
  tags: tileserver
  tasks:
    - import_role:
        name: roles/tileserver
      vars:
        osm_dbname: gis
        tileserver_script_dir: /opt/OpenRailwayMap-server-config
        cartocss_dir: /opt/OpenRailwayMap-CartoCSS
        osm_data_dir: /nvme/data/planet
        flatnodes_dir: /nvme/data/flatnodes
        tile_expiry_dir: /nvme/data/tileupdate
    - import_role:
        name: roles/tileserver_step2
      vars:
        osm_dbname: gis
        cartocss_dir: /opt/OpenRailwayMap-CartoCSS
        apache2:
          max_request_workers: 350
        tileserver:
          development_tools: true
          hostname: tiles.openrailwaymap.org
          hostname_aliases:
            - a.tiles.openrailwaymap.org
            - b.tiles.openrailwaymap.org
            - c.tiles.openrailwaymap.org
            - tiles.buegelfalte.openrailwaymap.org

- hosts: all
  become: yes
  remote_user: root
  tags: website
  tasks:
    - import_role:
        name: roles/website
      vars:
        osm_dbname: gis
        website_hostname: www.openrailwaymap.org
        website_hostname_aliases:
          - openrailwaymap.org
          - buegelfalte.openrailwaymap.org
        api_hostname: api.openrailwaymap.org
        website_dir: /var/www/www.openrailwaymap.org
        openrailwaymap_user_home: /srv/openrailwaymap

- hosts: blog
  become: yes
  remote_user: root
  tags: blog
  tasks:
    - import_role:
        name: roles/blog
      vars:
        blog:
          hostname: blog.openrailwaymap.org
          hostname_aliases: []
          directory: /var/www/blog

- hosts: mailservers
  become: yes
  remote_user: root
  tags: mail
  tasks:
    - import_role:
        name: roles/mail
      vars:
        mail:
          mailman2: false
          mailman3: true
          http_hostname: lists.openrailwaymap.org

- hosts: backup_access
  become: yes
  remote_user: root
  tags: backup
  tasks:
    - import_role:
        name: roles/backup_access
      vars:
        backup_user_in_groups:
          - user: backup
            groups: list
        postgresql_backup_user:
          username: backup
          databases: ['mailman3web', 'mailman3']
