# SPDX-License-Identifier: MIT
- hosts: all
  become: yes
  remote_user: root
  tags: tileserver
  tasks:
    - import_role:
        name: roles/tileserver
      vars:
        osm_dbname: gis
        tileserver_script_dir: /opt/OpenRailwayMap-server-config
        cartocss_dir: /opt/OpenRailwayMap-CartoCSS
        osm_data_dir: /nvme/data/planet
        flatnodes_dir: /nvme/data/flatnodes
        tile_expiry_dir: /nvme/data/tileupdate
    - import_role:
        name: roles/tileserver_step2
      vars:
        osm_dbname: gis
        cartocss_dir: /opt/OpenRailwayMap-CartoCSS
        apache2:
          max_request_workers: 350

- hosts: all
  become: yes
  remote_user: root
  tags: website
  tasks:
    - import_role:
        name: roles/website
      vars:
        osm_dbname: gis
        website_hostname: www.openrailwaymap.org
        website_hostname_aliases:
          - openrailwaymap.org
          - buegelfalte.openrailwaymap.org
        api_hostname: api.openrailwaymap.org
        website_dir: /var/www/www.openrailwaymap.org
        openrailwaymap_user_home: /srv/openrailwaymap
        apache2_logdir: /var/log/apache2
