# SPDX-License-Identifier: MIT
- hosts: all
  name: Settings related to security
  tags: security

  tasks:
  - name: Disable SSH login without public key
    lineinfile:
      path: /etc/ssh/sshd_config
      regexp: '^#? *PasswordAuthentication yes'
      line: 'PasswordAuthentication no'
    notify:
      - reload ssh

  - name: Install fail2ban
    apt:
      name: fail2ban

  - name: Fail2ban configuration
    include_tasks: fail2ban_custom.yml

  - name: Install ufw
    apt:
      name: ufw

  - name: 'ufw: allow SSH, HTTP and HTTPS'
    ufw:
      comment: 'allow {{ item.comment }}'
      rule: allow
      name: '{{ item.protocol }}'
    loop:
      - {'comment': 'SSH', 'protocol': 'OpenSSH'}
      - {'comment': 'HTTP+HTTPS', 'protocol': 'WWW Full'}
      - {'comment': 'SMTP', 'protocol': 'SMTP'}

  - name: 'ufw: allow Munin'
    ufw:
      comment: 'allow Munin'
      rule: allow
      port: '4949'
      proto: tcp

  - name: 'ufw: reject heavy users by firewall'
    ufw:
      comment: 'ban heavy tileserver user, {{ item.comment }}'
      rule: reject
      insert: 1
      from_ip: '{{ item.from_ip }}'
      to_port: '{{ item.to_port }}'
      proto: tcp
    notify: ufw reload
    loop:
      - from_ip: 87.234.54.154
        to_port: 80
        comment: "SynxHealthTest, one test request per second, most frequent source IP"
      - from_ip: 87.234.54.154
        to_port: 443
        comment: "SynxHealthTest, one test request per second, most frequent source IP"

  - name: 'ufw: default deny'
    ufw:
      default: 'reject'
      logging: 'low'

  - name: 'ufw enable'
    ufw:
      state: enabled

  - name: 'Install unattended-upgrades'
    apt:
      name: [unattended-upgrades, apt-listchanges]

  - name: 'Set email address for notifications by unattened-upgrade'
    lineinfile:
      path: /etc/apt/apt.conf.d/50unattended-upgrades
      regexp: '^Unattended-Upgrade::Mail "[^"]+";'
      line: 'Unattended-Upgrade::Mail "admin@openrailwaymap.org";'


  handlers:
    - name: reload ssh
      systemd:
        name: ssh
        state: reloaded

    - name: reload fail2ban
      systemd:
        name: fail2ban
        state: reloaded

    - name: ufw reload
      ufw:
        state: reloaded
