# SPDX-License-Identifier: MIT
- hosts: all
  remote_user: root

  tasks:
  - name: Install required packages from APT
    apt:
      name: [php-fpm, apache2, php-xml]

  - name: Create directory for Git repository
    file:
      path: '{{ blog.directory }}'
      owner: root
      group: root
      state: directory

  - name: Clone Git repository of the blog
    git:
      dest: '{{ blog.directory }}'
      repo: https://github.com/OpenRailwayMap/openrailwaymap-blog.git
      # We need to call it with force:yes because our database layout requires to overwrite api/config.json
      force: yes
      version: master

  - name: Enable/Disable Apache modules
    apache2_module:
      name: '{{ item.name }}'
      state: '{{ item.state }}'
    loop:
      - name: 'proxy_fcgi'
        state: 'present'
      - name: 'setenvif'
        state: 'present'
      - name: 'php7.3'
        state: 'absent'
      - name: 'mpm_prefork'
        state: 'absent'
      - name: 'mpm_event'
        state: 'present'
    notify:
      - systemd restart apache2

  - name: Enable default configuration for php-fpm
    shell:
      cmd: a2enconf php7.3-fpm
      chdir: /etc/apache2/conf-available
    notify:
      - systemd reload apache2

  - name: Configure php-fmp pool
    replace:
      path: /etc/php/7.3/fpm/pool.d/www.conf
      regexp: '{{ item.regexp }}'
      replace: '{{ item.line }}'
    loop:
      - regexp: '^;? *pm\.max_children =.*$'
        line: 'pm.max_children = 50'
      - regexp: '^;? *pm\.start_servers =.*$'
        line: 'pm.start_servers = 6'
      - regexp: '^;? *pm\.min_spare_servers =.*$'
        line: 'pm.min_spare_servers = 3'
      - regexp: '^;? *pm\.max_spare_servers =.*$'
        line: 'pm.max_spare_servers = 6'
    notify:
      - systemd restart php-fpm

  - name: Add blog VirtualHost configuration of Apache
    template:
      src: '{{ item }}'
      dest: '/etc/apache2/sites-available/{{ item }}'
      owner: root
      group: root
      mode: 0664
    loop:
      - 'blog.openrailwaymap.org.inc'
      - 'blog.openrailwaymap.org.conf'
    register: apache_virtualhost_files
    notify:
      - systemd reload apache2

  - name: Enable Apache VirtualHost configuration for API and website
    when: apache_virtualhost_files.changed
    shell:
      cmd: 'a2ensite blog.openrailwaymap.org.conf'
      chdir: /etc/apache2/sites-available
    notify:
      - systemd reload apache2

  handlers:
    - name: systemd reload apache2
      systemd:
        name: apache2
        state: reloaded
    - name: systemd restart apache2
      systemd:
        name: apache2
        state: restarted
    - name: systemd restart php-fpm
      systemd:
        name: php7.3-fpm.service
        state: restarted
