osm_dbname: gis
tileserver_script_dir: /opt/OpenRailwayMap-server-config
cartocss_dir: /opt/OpenRailwayMap-CartoCSS

tileserver:
  styles:
    - standard
    - maxspeed
    - signals
    - electrification
    - gauge
  development_tools: true
  hostname: tiles.openrailwaymap.org
  hostname_aliases:
    - a.tiles.openrailwaymap.org
    - b.tiles.openrailwaymap.org
    - c.tiles.openrailwaymap.org
    - tiles.buegelfalte.openrailwaymap.org

ufw:
  bans:
    YuLinCity-IpAddressPool-1_no_referer:
      from_ip: 123.139.243.10
      to_port: 443
    russian_slow_scraper:
      from_ip: 95.27.93.166
      to_port: 443

apache:
  modules:
    remoteip:
    # Module tile not listed here because it is enabled during tileserver setup.
    rewrite:
    alias:
  sites:
    tileserver_site.conf:
      enabled: no
    tiles.openrailwaymap.org.conf:
      enabled: yes
      content: |
        <VirtualHost *:80>
              ServerName tiles.openrailwaymap.org
              ServerAlias a.tiles.openrailwaymap.org
              ServerAlias b.tiles.openrailwaymap.org
              ServerAlias c.tiles.openrailwaymap.org
              ServerAlias tiles.buegelfalte.openrailwaymap.org
              ServerAlias buegelfalte.openrailwaymap.org
              ServerAdmin info@openrailwaymap.org
              Include /etc/apache2/sites-available/redirect-http.inc
        </VirtualHost>
        <VirtualHost *:443>
            SSLEngine on
            SSLCertificateFile /etc/letsencrypt/openrailwaymap.org/openrailwaymap.org-chain.crt
            SSLCertificateKeyFile /etc/letsencrypt/openrailwaymap.org/domain.key
            SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
            SSLCipherSuite ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
            SSLHonorCipherOrder off
            SSLSessionTickets off

            Include /etc/apache2/sites-available/tiles.openrailwaymap.org.inc
        </VirtualHost>
    tiles.openrailwaymap.org.inc:
      enabled: no
      content: |
        ServerName {{ tileserver.hostname }}
        {% for host_alias in tileserver.hostname_aliases -%}
        ServerAlias {{ host_alias }}
        {% endfor %}
        ServerAdmin info@openrailwaymap.org

        DocumentRoot /var/www/tiles
        Alias /robots.txt /var/www/common/ban_all_robots.txt
        <Directory /var/www/common/ >
            Require all granted
        </Directory>
        <IfModule tile_module>
        {% if 'letsencrypt' in group_names %}
        LogLevel info tile:warn ssl:warn
        {% else %}
        LogLevel info tile:warn
        {% endif %}

        ModTileRenderdSocketName {{ (ansible_distribution_version >= '12.0') | ternary('/run/tirex/modtile.sock', '/var/lib/tirex/modtile.sock') }}
        ModTileTileDir {{ (ansible_distribution_version >= '12.0') | ternary('/var/cache/tirex/tiles', '/var/lib/tirex/tiles') }}
        {% for style in tileserver.styles -%}
        AddTileConfig            /{{ style }} {{ style }}
        {% endfor %}
        Redirect permanent       /electrified /electrification
        ModTileRequestTimeout 0
        ModTileMissingRequestTimeout 90
        ModTileMaxLoadOld 4
        ModTileMaxLoadMissing 8

        # Tile throttling for abusers
        ModTileEnableTileThrottling On
        ModTileEnableTileThrottlingXForward 0
        ModTileThrottlingTiles 10000 1
        ModTileThrottlingRenders 128 0.2
        </IfModule>

        Header always set Access-Control-Allow-Origin "*"

        Include /etc/apache2/sites-available/tileserver_blocks.inc
        <Location /server-status>
            Require local
        </Location>

        ErrorLog /var/log/apache2/{{ tileserver.hostname }}.error.log
        CustomLog /var/log/apache2/{{ tileserver.hostname }}.access.log combined
    tileserver_blocks.inc:
      enabled: no
      content: |
        <Location />
            <RequireAll>
                Require all granted
                Require not ip 5.35.80.253

                # Tile scraping 2021-12-28
                Require not ip 5.166.235.3

        ## Samsung Smart TV, see below
        #        Require not ip 185.109.16.136
        #        Require not ip 185.109.16.135
            </RequireAll>
        </Location>

        Alias /tile-util/ /var/www/tile-util/
        <Directory /var/www/tile-util>
            Require all granted
        </Directory>

        RewriteEngine on

        # Lacking attribution and high traffic
        RewriteCond "%{HTTP_USER_AGENT}" "railon.vonatDroid" [OR]
        # 50k to 200k tile requets per day but website is not public (looks like for-charge service)
        # Responding with HTTP status 429 for about 5 days did not make this client to go away.
        RewriteCond "%{HTTP_REFERER}" "//rastreobusmen\.geovoy\.com/" [OR]
        # more than 20k tile requets per day, website is not public
        # Responding with HTTP status 429 for multiple weeks did not make this client to go away.
        RewriteCond "%{HTTP_REFERER}" "//live1.trackandsnap.com/" [OR]
        RewriteCond "%{HTTP_REFERER}" "//utysmpo\.uzgps.uz/?" [OR]
        # More than 20k tile requets per day but website is not public (looks like for-charge service)
        RewriteCond "%{HTTP_REFERER}" "//(www\.)?geliospro\.com/" [OR]
        # More than 60k tile requets per day but website is commercial (but open to public)
        RewriteCond "%{HTTP_REFERER}" "//www.flatlooker.com/?" [OR]
        # More than 20k tile requets per day but website is not public (looks like for-charge service)
        RewriteCond "%{HTTP_REFERER}" "//gps.sharpsoftco.com/?" [OR]
        # More than 10k tile requets per day but website is not public (looks like for-charge service)
        RewriteCond "%{HTTP_REFERER}" "//servidormapa.com/?" [OR]
        RewriteCond "%{HTTP_REFERER}" "//gps\.teambyte\.al/" [OR]
        # More than 20k tile requets per day but website is not public (looks like for-charge service)
        RewriteCond "%{HTTP_REFERER}" "//libellule\.sudcontractors\.com/?" [OR]
        RewriteCond "%{HTTP_REFERER}" "//sc-libellule\.com/?" [OR]
        # More than 70k tile requets, commercial asset tracking
        RewriteCond "%{HTTP_REFERER}" "//glogist.ru/?" [OR]
        # Lacking attribution and more than 10k tile requests per day
        RewriteCond "%{HTTP_REFERER}" "//[a-z0-9]+\.vicc\.wang/?" [OR]
        # Non-public live tracking (Traccar instance), 30k requests/day. 395k requests/day after changing response to HTTP 429.
        RewriteCond "%{HTTP_REFERER}" "//(www\.)?golivetrack\.com/" [OR]
        # Non-public, 17k requests/day, HTTP 429 since 2024-10
        RewriteCond "%{HTTP_REFERER}" "//greencargo\.outsystemsenterprise\.com/" [OR]
        # Non-public live tracking, 24k requests/day, HTTP 429 without effect
        RewriteCond "%{HTTP_REFERER}" "//track\.gpsdome\.net/" [OR]
        # More than 20k requests/day, hostname cannot be resolved, HTTP 429 since 2025-02-20
        RewriteCond "%{HTTP_REFERER}" "//vt\.kcvtp\.azds\.ns\.nl/" [OR]
        # 15k requests per 16 hours, non-public tracking, HTTP 429 since 2025-02-20
        RewriteCond "%{HTTP_REFERER}" "//gps\.almaks\.rs/" [OR]
        # 18k requests per 16 hours, non-public tracking, HTTP 429 since 2025-02-20
        RewriteCond "%{HTTP_REFERER}" "trackerworldwide\.com/" [OR]
        # More than 10k tile requets per day but website is not public (looks like for-charge service), HTTP 429 since 2024-04-23
        RewriteCond "%{HTTP_REFERER}" "//www\.transferoviarcalatori\.ro/?" [OR]
        # Non-public live tracking, 17k requests/day, HTTP 429 since 2024-10-17
        RewriteCond "%{HTTP_REFERER}" "//plataforma\.mundialgps\.com/" [OR]
        # 15k requests per 16 hours, non-public tracking
        RewriteCond "%{HTTP_REFERER}" "//gps\.seccom\.ba/" [OR]
        # HTTP 429 since 2025-05-30, still more than 50k req/day
        RewriteCond "%{HTTP_REFERER}" "//forkagro.com/" [OR]
        # SEO website with ads and no meaningful content after a rough review (no HTTP 429 prior to black tile response)
        RewriteCond "%{HTTP_REFERER}" "//zugradar.info/"
        RewriteRule "." "/tile-util/crowded.webp" [PT]

        # Warn https://kozlekedesiklub.hu/ that they are running into being blocked.
        RewriteCond "%{HTTP_REFERER}" "kozlekedesiklub.hu"
        # Exclude requests not for tiles. Otherwise /index.html and its assets are forbidden as well.
        RewriteRule "[38]/[0-9]+9\.png$" "/tile-util/vr0.png" [PT]

        # Warn https://168railway.com/ that they are running into being blocked.
        # Their frontend on the login page loads lots of tiles without user
        # interaction just for a background animation. Contact hidden behind
        # login form.
        RewriteCond "%{HTTP_REFERER}" "168railway.com" [OR]
        RewriteCond "%{HTTP_REFERER}" "trainradar35.com"
        # Exclude requests not for tiles. Otherwise /index.html and its assets are forbidden as well.
        RewriteRule "[38]/[0-9]+[29]\.png$" "/tile-util/vr0-automatic-tile-loading.png" [PT]

        # Lacking attribution and high traffic, friendly attribution tile as response
        # 100k tile requets per day for public realtime tracking of BDZ trains, lacking attribution
        RewriteCond "%{HTTP_REFERER}" "//radar\.bdz\.bg/"
        RewriteRule "." "/tile-util/attribution-tile.png" [PT]

        # Requests with invalid URLs (missing style name), 300k requests per day, user-agent is a Samsung TV
        RewriteCond "%{HTTP_USER_AGENT}" "SMART-TV; Linux; Tizen 4.0"
        RewriteRule "^/[0-9]" "/tile-util/black.png" [PT]

        # Embedded, unpatched software
        RewriteCond "%{HTTP_USER_AGENT}" "^Mozilla/4\.0"
        # Empty user agents
        RewriteCond "%{HTTP_REFERER}" "^$"
        RewriteRule "." "-" [F]

        # User-agent of a browser more than 10 years old and no referer
        RewriteCond "%{HTTP_USER_AGENT}" "^Opera/9\."
        # Empty user agents
        RewriteCond "%{HTTP_REFERER}" "^$"
        RewriteRule "." "-" [F]

        # User-agent of a browser and no referer requesting tiles
        RewriteCond "%{HTTP_USER_AGENT}" "Gecko/[0-9]+ Firefox/[0-9.]+$"
        RewriteCond "%{HTTP_REFERER}" "^$"
        # Exclude requests not for tiles. Otherwise /index.html and its assets are forbidden as well.
        RewriteRule "\.png$" "-" [F,L]

        # User-agent of a desktop browser and no referer requesting tiles
        RewriteCond "%{HTTP_USER_AGENT}" "(^Mozilla/5\.0 (Windows NT 10\.0; Win64; x64) | Safari/[0-9]+\.[0-9]+$| AppleWebKit/[0-9.]+ (KHTML, like Gecko) Mobile/[0-9E]+$)"
        RewriteCond "%{HTTP_REFERER}" "^$"
        # Exclude requests not for tiles. Otherwise /index.html and its assets are forbidden as well.
        RewriteRule "\.png$" "-" [F,L]

        # generic referer, likely not public accessible
        RewriteCond "%{HTTP_REFERER}" "\[0-9]\.amazonaws\.com/"
        RewriteRule "." "-" [F]

        # Generic user agents
        # Dalvik, an Android HTTP library
        RewriteCond "%{HTTP_USER_AGENT}" "^Dalvik/[0-9.]+ \(Linux; U; Android" [OR]
        # Dart:io, a NodeJS HTTP library
        RewriteCond "%{HTTP_USER_AGENT}" "^Dart/\d+\.\d+ \(dart:io\)$" [OR]
        # python-requests, a Python HTTP library
        RewriteCond "%{HTTP_USER_AGENT}" "^python-requests/" [OR]
        # OK HTTP library
        RewriteCond "%{HTTP_USER_AGENT}" "^okhttp/" [OR]
        # python-requests, a Python HTTP library
        RewriteCond "%{HTTP_USER_AGENT}" "^MOBAC/" [OR]
        # Wget, non-interactive network downloader
        RewriteCond "%{HTTP_USER_AGENT}" "^Wget/" [OR]
        # Go HTTP client
        RewriteCond "%{HTTP_USER_AGENT}" "^Go-http-client/" [OR]
        # Go-Tiles-API client, cannot find what this user-agent means, looks like a default user agent
        RewriteCond "%{HTTP_USER_AGENT}" "^Go-Tiles-API/" [OR]
        # map client for Flutter
        RewriteCond "%{HTTP_USER_AGENT}" "^flutter_map \(unknown\)$" [OR]
        # generic osmdroid user agent
        RewriteCond "%{HTTP_USER_AGENT}" "^com.osmdroid.maps$" [OR]
        # WindowsPowerShell (more than 40k requests/day from a single IP)
        RewriteCond "%{HTTP_USER_AGENT}" "WindowsPowerShell/[0-9.]+" [OR]
        # Cloudflare, referrer (b|c).tiles.openrailwaymap.org
        RewriteCond "%{HTTP_USER_AGENT}" "^Cloudflare-Workers" [OR]
        # unset
        RewriteCond "%{HTTP_USER_AGENT}" "^-$" [OR]
        # Empty user agents
        RewriteCond "%{HTTP_USER_AGENT}" "^$"
        RewriteRule "." "-" [F]

        # Stadler Rail, various referrers *.rds.stadlerrail.*, in total almost 200k requests/day, service not available to the public
        RewriteCond "%{HTTP_REFERER}" "//web\.rds\.stadlerrail\.ch/" [OR]
        # 32k requests/day, non-public tracking website
        RewriteCond "%{HTTP_REFERER}" "//avl1.teltopak.com.pk/" [OR]
        # Jiangmen Global Eyes Police Bureau, 16k requests per 10 hours
        RewriteCond expr "%{REMOTE_ADDR} -ipmatch '219.130.135.190'" [OR]
        # Vodafone West, 52k per day
        RewriteCond expr "%{REMOTE_ADDR} -ipmatch '78.94.48.98'" [OR]
        # Vodafone West, QGIS, 45k per day
        RewriteCond expr "%{REMOTE_ADDR} -ipmatch '95.223.72.184'" [OR]
        # tile scraping from Rostelecom, about 1 million requests per day
        RewriteCond expr "%{REMOTE_ADDR} -ipmatch '95.179.116.0/22'" [OR]
        # tile scraping from Rostelecom, about 1 million requests per day
        RewriteCond expr "%{REMOTE_ADDR} -ipmatch '95.179.120.0/21'" [OR]
        # More than 20k tile request per IP and day but strange user agents and no referers
        RewriteCond "%{HTTP_USER_AGENT}" "Mozilla/4.7[35]"
        RewriteRule "." "-" [R=429,L]

        # Monitoring tool doing test requests every second for three map styles
        # Running on a DB IP, therefore difficult to ban
        RewriteCond "%{HTTP_USER_AGENT}" "SynxHealthTest"
        RewriteRule "." "-" [R=429,L]
  configurations:
    max_request_workers.conf:
      enabled: yes
      content: |
        <IfModule mpm_event_module>
            # MaxRequestWorkers could be raised up to ServerLimit * ThreadsPerChild (defaults to 16 and 25)
            # For default of ThreadsPerChild, see mods-available/mpm_event.conf
            MaxRequestWorkers 800
            ServerLimit 26
        </IfModule>
