apache:
  modules:
    http2:
    rewrite:
    setenvif:
    php7.3:
      state: absent
    php8.2:
      state: absent
    mpm_prefork:
      state: absent
    mpm_event:
      state: present
  sites:
    000-default.conf:
      enabled: no
    redirect-http.inc:
      enabled: no
      content: |-
        RewriteEngine On
        RewriteCond %{REQUEST_URI} !^/.well-known/acme-challenge
        RewriteCond %{REQUEST_URI} !^/server-status/?$
        RewriteCond %{HTTPS} off
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

robots_txt: |-
  User-agent: *
  Disallow: /imprint-de.html
  Disallow: /imprint-en.html
  Disallow: /de/imprint
  Disallow: /en/imprint

  User-agent: OAI-SearchBot
  User-agent: GPTBot
  User-agent: ChatGPT-User
  User-agent: Amazonbot
  User-agent: MistralAI-User
  User-agent: AhrefsBot
  User-agent: DotBot
  User-agent: SemrushBot
  User-agent: LinkupBot
  User-agent: Twitterbot
  Disallow: /

