apache:
  modules:
    alias:
    headers:
    proxy:
    proxy_fcgi:
    rewrite:
    wsgi:
  sites:
    www.openrailwaymap.org.conf:
      enabled: yes
      content: |
        <VirtualHost *:80>
            ServerName www.openrailwaymap.org
            ServerAlias openrailwaymap.org
            ServerAlias {{ inventory_hostname }}
            Include /etc/apache2/sites-available/redirect-http.inc
        </VirtualHost>
        <VirtualHost *:443>
            SSLEngine on
            SSLCertificateFile /etc/letsencrypt/openrailwaymap.org/openrailwaymap.org-chain.crt
            SSLCertificateKeyFile /etc/letsencrypt/openrailwaymap.org/domain.key
            SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
            SSLCipherSuite ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
            SSLHonorCipherOrder off
            SSLSessionTickets off

            Include /etc/apache2/sites-available/www.openrailwaymap.org.inc
        </VirtualHost>
    www.openrailwaymap.org.inc:
      enabled: no
      content: |
        DocumentRoot /var/www/www.openrailwaymap.org
        ServerName www.openrailwaymap.org
        ServerAlias openrailwaymap.org
        ServerAlias {{ inventory_hostname }}

        <Directory /var/www/www.openrailwaymap.org>
            AllowOverride None
        </Directory>

        AddType application/json .json

        # alias for imprint
        Alias /de/imprint /var/www/www.openrailwaymap.org/imprint-de.html
        Alias /en/imprint /var/www/www.openrailwaymap.org/imprint-en.html
        Redirect permanent /josm-presets/de.zip /josm-presets/infrastructure.zip

        # language redirection for imprint page
        RewriteEngine On
        RewriteCond %{REQUEST_URI} ^/imprint$
        RewriteCond %{HTTP:Accept-Language} ^de[-,;].*$ [NC]
        RewriteRule ^/imprint$ /imprint-de.html [L,R=307]
        RewriteCond %{HTTP:Accept-Language} ^en[-,;].*$ [NC]
        RewriteRule ^/imprint$ /imprint-en.html [L,R=307]
        RewriteCond %{HTTP:Accept-Language} [,;]de[-,;].*$ [NC]
        RewriteRule ^/imprint$ /imprint-de.html [L,R=307]
        RewriteCond %{HTTP:Accept-Language} [,;]en[-,;].*$ [NC]
        RewriteRule ^/imprint$ /imprint-en.html [L,R=307]

        ErrorLog /var/log/apache2/www.openrailwaymap.org.error.log
        LogLevel info ssl:warn
        CustomLog /var/log/apache2/www.openrailwaymap.org.access.log combined

        DirectoryIndex index.php
        ProxyPassMatch "^/(.*\.php)$" "unix:/run/php/php{{php_version}}-fpm.sock|fcgi://localhost/var/www/www.openrailwaymap.org/"
        <Files ~ "\.(js|css)$">
            Header set Cache-Control "max-age=3600, must-revalidate"
        </Files>
        <Files ~ "messages.json$">
            Header set Cache-Control "max-age=7200, stale-while-revalidate"
        </Files>

    api.openrailwaymap.org.conf:
      enabled: yes
      content: |
        <VirtualHost *:80>
            ServerName api.openrailwaymap.org
            Include /etc/apache2/sites-available/redirect-http.inc
        </VirtualHost>

        WSGIDaemonProcess api_v2 python-path=/opt/OpenRailwayMap-api processes=12 threads=1 user=openrailwaymap

        <VirtualHost *:443>
            SSLEngine on
            SSLCertificateFile /etc/letsencrypt/openrailwaymap.org/openrailwaymap.org-chain.crt
            SSLCertificateKeyFile /etc/letsencrypt/openrailwaymap.org/domain.key
            SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
            SSLCipherSuite ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
            SSLHonorCipherOrder off
            SSLSessionTickets off

            Include /etc/apache2/sites-available/api.openrailwaymap.org.inc
        </VirtualHost>
    api.openrailwaymap.org.inc:
      enabled: no
      content: |
        ServerName api.openrailwaymap.org
        DocumentRoot /var/www/www.openrailwaymap.org
        Alias /robots.txt /var/www/common/ban_all_robots.txt
        <Directory /var/www/common/ >
            Require all granted
        </Directory>

        #ProxyPass /server-status !

        #ProxyPass /timestamp !
        Alias "/timestamp" "/var/data/timestamp.txt"
        Alias "/v2/timestamp" "/var/data/timestamp.txt"
        <location /timestamp>
            ForceType text/plain
            Require all granted
        </location>
        <location /v2/timestamp>
            ForceType text/plain
            Require all granted
        </location>

        #ProxyPass /.well-known !

        RewriteEngine on
        # Generic user agents
        # Dalvik, an Android HTTP library
        RewriteCond "%{HTTP_USER_AGENT}" "^Dalvik/[0-9.]+ \(Linux; U; Android" [OR]
        # Dart:io, a NodeJS HTTP library
        RewriteCond "%{HTTP_USER_AGENT}" "^Dart/\d+\.\d+ \(dart:io\)$" [OR]
        # python-requests, a Python HTTP library
        RewriteCond "%{HTTP_USER_AGENT}" "^python-requests/" [OR]
        # python-requests, a Python HTTP library
        RewriteCond "%{HTTP_USER_AGENT}" "^MOBAC/" [OR]
        # Wget, non-interactive network downloader
        RewriteCond "%{HTTP_USER_AGENT}" "^Wget/" [OR]
        # Go HTTP client
        RewriteCond "%{HTTP_USER_AGENT}" "^Go-http-client/" [OR]
        # Empty user agents
        RewriteCond "%{HTTP_USER_AGENT}" "^$"
        RewriteRule "." "-" [F]

        # This IP appears with referer web.alarmmonitor.de on the tile server. On the API vhost, all requests end with status 408.
        RewriteCond expr "%{REMOTE_ADDR} -ipmatch '80.153.203.81'" [OR]
        RewriteCond expr "%{REMOTE_ADDR} -ipmatch '195.192.216.10'"
        RewriteRule "." "-" [R=429,L]

        #ProxyPass /v2 !
        WSGIScriptAlias /v2 /opt/OpenRailwayMap-api/api.py
        WSGIProcessGroup api_v2

        <Location /v2>
            Require all granted
        </Location>

        #ProxyPreserveHost On
        #ProxyPass / http://localhost:9002/
        #ProxyPassReverse / http://localhost:9002/

        ErrorLog /var/log/apache2/api.openrailwaymap.org.error.log
        LogLevel info ssl:warn
        CustomLog /var/log/apache2/api.openrailwaymap.org.access.log combined
